body {
  background-color: hotpink;
}

ul {
  background-color: aqua;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
}

p {
  font-size: larger;
  background-color: aqua;
  padding: 10px;
  text-align: center;
}

section {
  display: flex;
}
